.header
{
    background: gold;
    width: 100%;
}

.header ul
{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header ul li
{
    padding: 20px 15px;
    font-size: 2rem;
}

.header ul li a
{
    color: rebeccapurple;
    text-decoration: none;
    font-size: 1.5rem;
}
